










.contact input {
    width: 85%;
    padding: 1em 3.5em 1em 2em;
    margin-top: 2em;
}

.contact button {
    width: 15%;
    height: auto;
    font-size: 1.5em;
}

#message {
   padding-bottom: 10em;
}body {
  font-family: arial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}
.teal {
    background-color: #4aaaa5;
}

.teal-text {
    color: #4aaaa5;
}

.white-text {
    color: #ffffff;
}

.reg-font-color {
    color: #777777;
}



.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


@media (min-width: 820px) {
  .container {
    display: grid;
    grid-template-columns: 20vh 1fr 20vh;
    grid-template-rows: auto 1fr auto;

  }

  .hidden-header {
    display: none;
}
}

header {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
  background-color: #369;
  color: white;
  max-height: 20vh;
  
}



.header-content {
    width: 80%;
    margin: 0 auto;
}

main,
 {
  flex: 1;
  padding: 20px;
}

.side-one {
  background-color: #f90;
  padding: 20px;
}
 
.side-two {
  padding: 20px;
  background-color: #936;
}

footer {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  color: white;
  background-color: pink;
  font-size: 1em;
  
}

.header-nav {
    float: right;
}

.main-header-name {
    float: left;
    padding: 1em;
    width: 30%;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
}
.section {
    padding: 2em;
}
h1 {
  margin-bottom: 1em;
  font-size: 1.3em;
  font-weight: bold;
}

h3 {
    font-size: 1em;
}

.about-me img {  
    width: 30%;
    height: auto;
  float:left;
    padding-right:2em;      
}

.about-me p {
    font-size: 20px;
    
}

.header-nav li {
    float: left;
    list-style-type: none;
    border-right: 2px solid #f2f2f2;
    padding: 1em;
    font-size: 1em;
}

a:link,
a:visited,
 a:active {
    color: #777777;
    text-decoration: none;
}

a:hover {
    color: #4aaaa5;
}


  @media only screen and (max-width: 950px) {
    .header-content {
      width: 95%;
    }
    .contact button {
        width: 30%;
    }
  }

  @media only screen and (max-width: 820px) {
    .header-nav,
    .side-two {
        display: none;
    }
    .hidden-header {
        display: block;
    }

    .contact button {
        width: 50%;
    }
  }

  @media only screen and (max-width: 640px) {
    header {
        position: static;
    }
    .about-me img {
        width: 95%;
        margin-bottom: 1em;
    }

    .contact button {
        width: 60%;
    }
  }

  .section {
      background-color: grey;
  }

  @media only screen and (max-width: 440px) {
    header {
        position: static;
    }

    .header-nav li {
        padding: .5em;
        font-size: .8em;
    }
    
    .main-header-name {
        width: 95%;
        margin: 0;
        background-color: #369;
        
    }
    .contact button {
        width: 90%;
    }
    
    }
  }

/* I adjusted the 980px, 768px, 640px media queries provided for better performance with the grid */